@takeda:registry = https://takedaazuseast.jfrog.io/artifactory/api/npm/exp-npm-local/
@takeda-digital:registry = https://takedaazuseast.jfrog.io/artifactory/api/npm/exp-npm-local/
//takedaazuseast.jfrog.io/artifactory/api/npm/exp-npm-local/:_auth=${NPM_TOKEN}
